.dark {
	--bg-color: rgb(38, 38, 38);
	--inverted-bg-color: rgb(220, 220, 220);

	--primary-color: rgb(195, 202, 120);
	--secondary-color: rgb(175, 183, 156);

	--inverted-primary-color: rgb(36, 35, 35);
	--inverted-secondary-color: rgb(80, 81, 80);
}
