.light {
	--bg-color: rgb(220, 220, 220);
	--inverted-bg-color: rgb(38, 38, 38);

	--primary-color: rgb(36, 35, 35);
	--secondary-color: rgb(80, 81, 80);

	--inverted-primary-color: rgb(195, 202, 120);
	--inverted-secondary-color: rgb(175, 183, 156);
}
